/*----------------------------------------------------
                    global css
------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-size:14px;
    line-height:1.5em;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    outline:none;
    color:rgb(56,58,59);
    font-weight:400;
    overflow-x: hidden;
}
.container{
    max-width:1200px;
    margin:0 auto;
    padding:30px 60px;
}
img{
    max-width:100%;
    vertical-align:middle;
}
a{
    text-decoration:none;
}
ul{
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    color:rgb(56,58,59);
    font-weight:700;
}
p{
    font-weight:500;
    font-size:16px;
    text-transform:capitalize;
    line-height:1.5em;
    color:rgb(56,58,59);
}
/*----------------------------------------------------
                     header
------------------------------------------------------*/
.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navigation .logo>a{
    font-size:28px;
    font-weight:700;
    color:rgb(56,58,59);
    text-transform:capitalize;
}
.navigation>.bars{
    display:none;
    font-size:17px;
    color:rgb(56,58,59);
}
.navigation .menu{
    display:flex;
    align-items:center;
    justify-content:space-evenly
}
.navigation .menu .shopping-cart{
    font-size:17px;
    color:rgb(56,58,59);
    padding:8px 10px;
}
.navigation ul.links{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navigation ul.links li{
    margin:0 10px;
    list-style:none;
}
.navigation ul.links li a{
    font-size:17px;
    text-transform:capitalize;
    color:rgb(56,58,59);
    padding:8px 10px;
}

/*----------------------------------------------------
                     banner
------------------------------------------------------*/
 
.flex-container{
    display:flex;
    justify-content:space-between;
}
.flex-item-left{
    flex:50%;
    margin:6px;
    padding:12px;
}
.flex-item-left>.banner-title{
    font-size:42px;
    line-height:1.2em;
}
.flex-item-left>p{
    margin:20px 0px;
    font-size:15px;
    font-weight:500;
}
.flex-item-left>.btn{
    padding:12px 28px;
    background-color:rgb(226,46,109);
    border-radius:25px;
    font-size:16px;
    color:rgb(255,255,255);
    text-transform:capitalize;
    text-indent:5px;
}
.flex-item-left>.btn:hover i{
    transform:translate(10px);
    transition:transform 0.3s ease-in-out;
}
.flex-item-right{
    background-image:url('../img/Circle\ design.svg');
    background-position: center center;
    background-size:100% 100%;
    background-repeat:no-repeat;
    flex:50%;
    margin:6px;
    padding:12px;
}
.flex-item-right .photo{
    display:flex;
    align-items:center;
    justify-content:center;
}
.flex-item-right .photo img{
    width:50%;
    height:auto;
}