
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /*------------header--------------*/
    header>.container{
        padding:30px 30px;
    }
    .navigation{
        display:flex;
        justify-content: space-between;
    }
    .navigation .logo>a{
        font-size:1.5em;
    }
    .navigation>.bars{
        display:block;
    }
    .navigation ul.links{
        display:none;
    }
    /*------------banner--------------*/
    .flex-container{
        flex-direction:column;
    }

    .flex-compa{
        padding:30px 30px;
        display:grid;
        gap:20px;
        grid-template-columns:repeat(4,1fr);
        border-top:1.5px solid rgb(230,233,234);
        border-bottom:1.5px solid rgb(230,233,234);
        align-content: center;
    }
    .flex-compa img{
     text-align:center;
    }

    /*---------------------------------
                collection
    ----------------------------------*/
    .grid-container{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:20px;
    }
    .grid-item-info{
        width:100%;
    }
}