
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /*------------header--------------*/
    header>.container{
        padding:30px 30px;
    }
    .navigation{
        display:flex;
        justify-content: space-between;
    }
    .navigation .logo>a{
        font-size:1.5em;
    }
    .navigation>.bars{
        display:block;
    }
    .navigation ul.links{
        display:none;
    }
    /*------------banner--------------*/
    .flex-container{
        flex-direction:column;
    }
    
}